{% extends 'base/basehome.html' %}

{% load static %}
{% block title %} 
cart
{% endblock title %}
{% block content %}
{% include 'includes/navbar555.html' %}
{% include 'includes/side.html' %}

    <!-- Breadcrumb Section Begin -->
    
    <!-- Hero Section Begin -->
{% include 'includes/searchbar.html' %}
<!-- Hero Section End -->
   
    <!-- Breadcrumb Section End -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center ">
                <div class="breadcrumb__text ">
                    <h2 class="text-dark">Cart</h2>
                    <div class="breadcrumb__option">
                        <a class="text-dark" href=" {% url 'home' %} ">Home</a>
                        <a class="text-dark" href=" {% url 'cart_view' %} ">Cart</a>

                        <a class="text-dark" href=" {% url 'checkout' %} ">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">

        <div class="container">
            {% if not carts %}
            <h2 class="text-center">Your Cart is empty</h2>
            <br>
            <a href=" {% url 'home' %} " class="primary-btn cart-btn bg-success text-white">CONTINUE SHOPPING</a>
            {% else %} 
            <div class="row ">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for cart in carts %}
                                <tr class="product_data ">
                                    <td class="shoping__cart__item">
                                        <img src="{{ cart.product.images.url}}" alt="" height=100px width=100px >
                                        <h5>{{cart.product.product_name}}</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        $ {{cart.product.price | stringformat:'d'}}
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        {% csrf_token %}
                                        {% if cart.product.stock >= cart.quantity %}
                                        <div class="col">
                                            <div class="input-group">
                                        
                                                <span class="input-group-btn">
                                            
                                                    <button type="button" data-product="{{cart.product.id}}"  class="quantity-left-minus btn btn-danger btn-number decrement-btn changeQuantity"  data-type="minus" data-field="">
                                                        -
                                                    </button>
                                        
                                                </span>
                                       
  
                                        
                                                <input type="text"  name="quantity" class="form-control  text-center qty-input" value="{{cart.quantity}}">
                                        
                                       
                                                <span class="input-group-btn">
                                            
                                                    <butoon type="button" data-product="{{cart.product.id}}" class="changeQuantity quantity-right-plus btn btn-success btn-number increment-btn " data-type="plus" data-field="">
                                                
                                                        +
                                            
                                                    </butoon>
                                        
                                                </span>

                                            </div>
                                        </div>
                                        {% else %}
                                        <h6>out of stock</h6>
                                        {% endif %}
                
                                    
                                    </td>
                                    
                                    <td class="shoping__cart__total cartdata">
                                        $ {{cart.sub_total}}
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a href=" {% url 'remove_cart' cart.product_id %} ">
                                            <span class="fa fa-close "></span>
                                        </a>
                                       
                                    </td>

                                </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                            Upadate Cart</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Enter your coupon code">
                                <button type="submit" class="btn text-white ">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Total <span>${{total_price}}</span></li>
                            <li>tax 2%<span>${{tax}}</span></li>
                            <li>delivery_charge <span>${{delivery_charge}}</span></li>
                            
                            <li>Grand Total <span>${{grand_total}}</span></li>

                        </ul>
                        <a href=" {% url 'checkout' %} " class="primary-btn btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <!-- Shoping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

   
    <!-- Footer Section End -->

    <!-- Js Plugins -->
{% endblock %}
