{% extends 'base/basehome.html' %}
{% load static %}
{% block title %} 
shop
{% endblock title %}
{% block content %}
{% include 'includes/navbar555.html' %}
{% include 'includes/side.html' %}

    <!-- Hero Section Begin -->
    {% include 'includes/searchbar.html' %}
    <!-- Hero Section End -->


   

    <!-- Breadcrumb Section Begin -->
  
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
     <section >
        <div class="container mt-0">
            {% if products %}
              
            <div class="col-lg-4 col-md-4">
                <div class="filter__found">
                    <h6><span>{{product_count}}</span> Products found</h6>
                </div>
            </div>
                    
            <div class="row ">
                
                {% for product in products %}
                {% csrf_token %}
                <div class="col-lg-3 col-md-4 col-sm-6 ">
                    <div class="featured__item ">
                        <div class="featured__item__pic set-bg " data-setbg="{{product.images.url}}" >
                            <ul class="featured__item__pic__hover product_data2">
                                <li  ><a href=" {% url 'addwishlist2' product.id %} "><i class="fa fa-heart " ></i></a></li>
                                <input type="hidden" class="qty-input2" value="1">
                                
                                <li><a ><i  class="fa fa-shopping-cart addToCartBtn2" data-product="{{product.id}}"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href=" {% url 'product_details' product.slug %} ">{{ product.product_name}}</a></h6>
                            <h5>&#8377;{{product.price}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
        
                <div style="text-align:center">
                        <h2>No Products Found</h2>
                </div>    

                
            </div>
            {% endif %} 
            
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
   {% include 'includes/footer.html' %}
    <!-- Footer Section End -->

    <!-- Js Plugins -->
{% endblock %}
  


