<section class="hero wpo-hero-style-3">
    <div class="hero-static">
      <div class="hero-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="slider-image"><img src="https://i.seadn.io/gae/zSpJcqbleltkabnxkjTs9hsXCqoqGcwN_YEkvBjEM6OADi4rYBiOWUXihZLdSG1WUeZOZychcfAaSARoH2JfAiOw?w=1000" alt="" class="slider-bg"
                        />
                      </div>
                      
                </div>
                <div class="col-md-6">
                    <div class="slide-content">
                        <div data-swiper-parallax="300" class="slide-title">
                          <h2><span>Howdy,</span>CodeStreak.in</h2>
                        </div>
                        <div data-swiper-parallax="300" class="slide-sub-title">
                          <h5 > 
                            <span id="days">  </span> Days of coding  🔥</h5>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                          <p>
                            We accept all kind of web application as per your requirements!
                          </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="slide-btn">
                          <a class="theme-btn">Contact Us</a>
                        </div>
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="container">
          
      </div>
    </div>
    <div class="dark_svg">
      <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
        <polygon
          points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 "
        ></polygon>
      </svg>
    </div>
  </section>