<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
</head>
<body>

  <h1> Create Form </h1>
  <h2></h2>
  <h3 class="success"></h3>
  <form  id="post-form">  
    {% csrf_token %}
    <p>Name:</p>
    <input type="text" id="name" name="name" ><br>
    <p>email:</p>
    <input type="text" id="email" name="email"><br>
    <p>bio</p>
    <input type="text" id="bio" name="bio"><br><br>
    <input type="submit">
  </form>


  
<script type=text/javascript>
  $(document).on('submit', '#post-form', function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url: '/accounts/profile',
      data: {
        name:$('#name').val(),
        email:$('#email').val(),
        bio:$('#bio').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
   
      },
      success: function (data){
        $('.success').html(data);

      }
      
    });
  });

</script>


  
</body>
</html>