<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
    <div class="aside-content-wrapper">

        <div class="aside-content bg-primary-700 text-auto">

            <div class="aside-toolbar">

                <div class="logo">
                    <span class="logo-icon">C</span>
                    <span class="logo-text">Carefore</span>
                </div>

                <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                    <i class="icon icon-backburger"></i>
                </button>

            </div>

            <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

                <li class="subheader">
                    <span>APPS</span>
                </li>

                <li class="nav-item" role="tab" id="heading-dashboards">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-dashboards" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

                        <i class="icon s-4 icon-tile-four"></i>

                        <span>Dashboards</span>
                    </a>
                    <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple {% if '/myadmin/myadmin2/' in request.path %}active {% endif %} " href=" {% url 'myadmin2' %} " data-url="apps-e-commerce-products.html">

                                <span>Project Dashboard</span>
                            </a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link ripple " href="apps-dashboards-server.html" data-url="index.html">

                                <span>Server</span>
                            </a>
                        </li> {% endcomment %}

                       

                    </ul>
                </li>

                

                <li class="nav-item" role="tab" id="heading-ecommerce">

                    <a class="nav-link ripple with-arrow " data-toggle="collapse" data-target="#collapse-ecommerce" href="#" aria-expanded="true" aria-controls="collapse-ecommerce">

                        <i class="icon s-4 icon-cart"></i>

                        <span>Ecommerce</span>
                    </a>
                    <ul id="collapse-ecommerce" class='collapse show' role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple {% if '/myadmin/product_details/' in request.path %}active{% endif %}" href=" {% url 'product_details' %} " >

                                <span>Products</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple {% if '/myadmin/userdata/' in request.path %}active{% endif %} " href=" {% url 'userdata' %} " >

                                <span>Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple {% if '/myadmin/category_list/' in request.path %}active{% endif %} " href=" {% url 'category_list' %} " >

                                <span>Category</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple {% if '/myadmin/view_orders' in request.path %}active {% endif %} " href=" {% url 'view_orders' %} "  >

                                <span>Orders</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link ripple " href=" {% url 'home' %} " >
                                
                                <span>Shopping Website View</span>
                            </a>
                        </li>

                    </ul>
                </li>

                {% comment %} <li class="nav-item">
                    <a class="nav-link ripple " href="apps-mail.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-email"></i>

                        <span>Mail</span>
                    </a>
                </li> {% endcomment %}

                {% comment %} <li class="nav-item">
                    <a class="nav-link ripple " href="apps-chat.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-hangouts"></i>

                        <span>Chat</span>
                    </a>
                </li> {% endcomment %}

                {% comment %} <li class="nav-item">
                    <a class="nav-link ripple " href="apps-file-manager.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-folder"></i>

                        <span>File Manager</span>
                    </a>
                </li> {% endcomment %}
{% comment %} 
                <li class="nav-item">
                    <a class="nav-link ripple " href="apps-contacts.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-account-box"></i>

                        <span>Contacts</span>
                    </a>
                </li> {% endcomment %}

                {% comment %} <li class="nav-item">
                    <a class="nav-link ripple " href="apps-todo.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-checkbox-marked"></i>

                        <span>To-Do</span>
                    </a>
                </li>

                <li class="subheader">
                    <span>PAGES</span>
                </li>

                <li class="nav-item" role="tab" id="heading-authentication">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-authentication" href="#" aria-expanded="false" aria-controls="collapse-authentication">

                        <i class="icon s-4 icon-lock"></i>

                        <span>Authentication</span>
                    </a>
                    <ul id="collapse-authentication" class='collapse ' role="tabpanel" aria-labelledby="heading-authentication" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-login.html" data-url="apps-e-commerce-products.html">

                                <span>Login</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-login-v2.html" data-url="apps-e-commerce-products.html">

                                <span>Login v2</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-register.html" data-url="apps-e-commerce-products.html">

                                <span>Register</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-register-v2.html" data-url="apps-e-commerce-products.html">

                                <span>Register v2</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-forgot-password.html" data-url="apps-e-commerce-products.html">

                                <span>Forgot Password</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-reset-password.html" data-url="apps-e-commerce-products.html">

                                <span>Reset Password</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-lock-screen.html" data-url="apps-e-commerce-products.html">

                                <span>Lock Screen</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="pages-coming-soon.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-alarm-check"></i>

                        <span>Coming Soon</span>
                    </a>
                </li>

                <li class="nav-item" role="tab" id="heading-errors">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-errors" href="#" aria-expanded="false" aria-controls="collapse-errors">

                        <i class="icon s-4 icon-alert"></i>

                        <span>Errors</span>
                    </a>
                    <ul id="collapse-errors" class='collapse ' role="tabpanel" aria-labelledby="heading-errors" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-errors-404.html" data-url="apps-e-commerce-products.html">

                                <span>404</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-errors-500.html" data-url="apps-e-commerce-products.html">

                                <span>500</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="pages-maintenance.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-oil"></i>

                        <span>Maintenance</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="pages-profile.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-account"></i>

                        <span>Profile</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="pages-search.html" data-url="apps-e-commerce-products.html">

                        <i class="icon s-4 icon-magnify"></i>

                        <span>Search</span>
                    </a>
                </li> {% endcomment %}

                
            </ul>
        </div>
    </div>
</aside>