asgiref==3.5.2
botocore==1.23.54
cement==2.8.2
certifi==2022.9.14
charset-normalizer==2.0.12
colorama==0.4.3
Django==3.2.16
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.6
django-session-timeout==0.1.0
django-shopping-cart==0.1
future==0.16.0
idna==3.4
jmespath==0.10.0
pathspec==0.9.0
Pillow==9.2.0
psycopg2==2.9.3
PyJWT==2.4.0
pypiwin32==223
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.2.1
pywin32==304
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
twilio==7.14.0
tzdata==2022.2
urllib3==1.26.12
wcwidth==0.1.9
