{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %} 
        {% endblock title %}

    </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'Home_page/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Home_page/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Home_page/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Home_page/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Home_page/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Home_page/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Home_page/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Home_page/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Home_page/css/custom.css' %}" type="text/css">


    <!--alertify-->   
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!--alertify  end--> 

    
</head>
 <body>
    

    <!-- navbar-->


{% block content %}

<!--content-->

{% endblock content %}



<!--footer-->


<!-- Js Plugins -->
<!-- JavaScript -->
<!--custom razorpay js-->


<!--razorpay ends-->
<script src="{% static 'Home_page/js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'Home_page/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'Home_page/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Home_page/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'Home_page/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'Home_page/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'Home_page/js/mixitup.min.js' %}"></script>
<script src="{% static 'Home_page/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'Home_page/js/main.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--custom js starts-->
<script src="{% static 'Home_page/js/custom.js' %}" ></script>
  
  
 


  
 

<!-- JavaScript alertify-->


<!--custom js ends-->

<!--paypal script-->
<script src="https://www.paypal.com/sdk/js?client-id=AXO2RGOqzlm9Q8qltdlksP50TCDJxwOK97hGAk9frdAkUdbbXhpzMvtc-rka1lM2S3rwr65q9g9Yi4Vx&currency=USD"></script>
  <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    
    var amount = "{{grand_total}}"
    var url    = "{% url 'payments' %}"
    var orderID = " {{order.order_number}}"
    var payment_method = "paypal"

    

    
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color:  'blue',
            shape:  'pill',
            label:  'pay',
            height: 40
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,

                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                // var transaction = orderData.purchase_units[0].payments.captures[0];
                // alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                sendData();
                function sendData(){
                    fetch(url, {
                        method : "POST",
                        headers:{
                            "content-type": "application/json",
                            "X-CSRFTOKEN": csrftoken,
                        },
                        body: JSON.stringify({
                            orderID:orderID,
                            transID: orderData.id,
                            payment_method: payment_method,
                            status: orderData.status,
                        }),
                        
                    })
                    .then((response) => response.json())
                    .then((data) => console.log(data));

                }

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script> 
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        var delay = alertify.get('notifier','delay');
        alertify.set('notifier','delay', 0.9);
        alertify.set('notifier','delay', delay);

        alertify.set('notifier','position', 'top-right');
        {% for msg in messages %}
        alertify.success('{{msg}}');
    {% endfor %}
   
    </script>
    <script src="{% static 'Home_page/js/checkout.js' %}"></script>
    

   
    
    

  
</body>
</html>




