{% extends 'base/basehome.html' %}

{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'userLogin/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'userLogin/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	
	<div class="limiter " style="background-image: url('{% static 'userLogin/images/loginbg.jpg' %}');">
        {% include 'includes/navbar555.html' %}
        
		<div class="container-login100 section-content" >
            {% if request.GET.command == 'verification' %}
            <div class="container-fluid  ">
            <div class="container mx-auto alert alert-info text-dark " role="alert" style="max-width:1080px; margin-top: 100px;">
                Thankyou for registering with us. We have send you a verification email to your email address[{{request.GET.email}}]
                <br><br>
                Already verified? <a href="{% url 'login' %}">Click here for Login </a>
            </div>
            </div>

            {% else %}
            
            
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Login
                </span>
               
                <div style="color:white" >
                {% include 'includes/alert.html' %}
                </div>
               
                <form action="{% url 'login' %}" method="POST" class="login100-form validate-form p-b-33 p-t-5">
                    {% csrf_token %}

                    <div class="wrap-input100 validate-input" data-validate = "email">
                        <input class="input100  " type="email" name="email" placeholder="Email Address">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    

                </form>
                <div class="container">
                    <p style ="color:white";>
                        Not having an account ?
                        <div class="">
                            <a href="{% url 'register' %}" >
                                <button type="button" class=" btn btn-warning mask"  >register</button>
                            </a>
                        </div>
                    
                    </p>
                </div>
            </div>
        
		</div>
	</div>
    {% endif %}
	

	<div id="dropDownSelect1"></div>


	
<!--===============================================================================================-->
	<script src="{% static 'userLogin/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userLogin/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userLogin/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'userLogin/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userLogin/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userLogin/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'userLogin/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userLogin/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userLogin/js/main.js' %}"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}