{% extends 'base/basehome.html' %}
{% block content %}
{% include 'includes/navbar555.html' %}
<div class="container">
    <div class="row">
        {% include 'includes/userdashboardside.html' %}
        <main class="col-md-9">
            <div class="card">
                <header class="card-header">
                    <strong class="d-inline-block mr-3">Your order history </strong>

                </header>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-md-12">
                          {% if orders %}
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Order</th>
                                    <th scope="col">Billing Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Payment Method </th>
                                    <th scope="col">Order Total</th>
                                    <th scope="col">Status</th>


                                    


                                    {% comment %} <th scope="col">Date </th>  {% endcomment %}

                                  </tr>
                                </thead>
                                <tbody>
                                  
                                    {% for order in orders %}
                                  <tr>
                                    <th scope="row"><a href="{% url 'order_detail' order.id %} ">{{order.order_number}}</a></th>
                                    <td>{{order.full_name}}</td>
                                    <td>{{order.phone}}</td>
                                    <td>{{order.payment_method}}</td>
                                    <td>{{order.total_price}}</td>
                                    {% if order.status == 'Pending' %}
                                    <td class="text-danger font-weight-bold">{{order.status}}</td>
                                    {% elif  order.status == 'Out for shipping'%}
                                    <td class="text-info font-weight-bold">{{order.status}}</td>
                                    {% elif order.status == 'Completed' %}
                                    <td class="text-success font-weight-bold">{{order.status}}</td>
                                    {% elif order.status == 'Cancelled' %}
                                    <td class="text-danger font-weight-bold">{{order.status}}</td>
                                    {% endif %}
                                    


                                    {% comment %} <td >{{order.created_at}}</td> {% endcomment %}

                                  </tr>
                                  {% endfor %}
                                 
                                 
                                </tbody>
                              </table>
                        </div>
                        {% else %}
                        <h3 class="text-center">No orders</h3>
                        {% endif %}
                    </div>
                </div>
            </div>

        </main>

    </div>
</div>
{% endblock content %} 