
{% comment %} {% if messages %}

    {% for message in messages %}
    <div id="message" class="container" style="width:500px;">
    <div {% if message.tags %} class="alert alert{{ message.tags }}"{% endif %} role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true"> &times; </span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{ message }}
    </div>
    </div>
    {% endfor %}

{% endif %} {% endcomment %}
{% if messages %}
    {% for msg in messages %}
        <div class="aler alert-{{msg.tags}} m-2" id="msg1" role="alert">
            {{msg}}
        </div>


    {% endfor %}

{% endif %}


