 {% load static %}
 <!-- Header Section Begin -->
 <header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i>carry.in</li>
                            <li>Free Shipping for all Order of $50</li>
                        </ul>
                    </div>
             
                </div>
         
                <div class="col-lg-6 col-md-6">
                    
                    <div class="header__top__right">

                       {% if user.id is None %}
                        <div class="widget-header header__top__left">
                            <small class="title text-muted">Welcome guest</small>
                            <div>
                                <a href="{% url 'login' %}">Sign In </a> <span class="dark-transp">|</span>
                                <a href="{% url 'register' %}">Register </a> 
                            </div>
                        </div>
                        
                        {% else %}
                        <div class="widget-header header__top__left">
                            <small class="title text-muted">Welcome {{user.first_name}}</small>
                            <div>
                                {% if user.is_superadmin%}
                                <a href="{% url 'myadmin2' %}">Dashboard</a> <span class="dark-transp">|</span>
                                {% else %}
                                <a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp">|</span>
                                {% endif %}
                                <a href="{% url 'logout' %}">Logout</a> 
                            </div>
                        </div>
                        {% endif %}
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo " >
                    <a href="{% url 'home' %}"><img src="{% static 'Home_page/img/careforelogo.png' %}" class="img-fluid w-50"alt=""  ></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class=" {% if '/' == request.path %}active{% endif %} "><a href="{% url 'home' %}">Home</a></li>
                        <li class=" {% if '/store/' in request.path %}active{% endif %} "><a href=" {% url 'store' %} ">store</a></li>
                        {% comment %} <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li> {% endcomment %}
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart ">
                    <ul>
                        <li><a href=" {% url 'wishlist' %} "><i class="fa fa-heart"></i> <span>{{wishlistcounter}}</span></a></li>
                        <li  class=" {% if '/cart_view/' in request.path %}active{% endif %} " ><a href=" {% url 'cart_view' %} "><i  class="fa fa-shopping-bag "></i> <span ><div id="cartdata_count">{{cart_count}}</div></span></a></li>
                    </ul>
                    {% comment %} <div class="header__cart__price">item: <span>$150.00</span></div> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->


