{% extends 'myadmin2/baseAdmin2/base.html' %}

{% block title %}
Add Product
{% endblock title %}
{% block content %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main>

        {% include 'myadmin2/baseAdmin2/basenav.html' %}
        <div id="wrapper">
        {% include 'myadmin2/baseAdmin2/sidebar.html' %}
            
            <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--theme_default" data-ps-id="6fd3f513-d51a-85e3-8de6-7204fb17b537">

                    <div class="page-layout carded full-width">

                        <div class="top-bg bg-secondary text-auto"></div>
                        <!-- CONTENT -->
                        <div class="page-content-wrapper">
                            

                            <!-- HEADER -->
                            <div class="page-header py-6 text-light ">
                                <div class="row">
                                    <div class="col-11">
                                        <ol class="breadcrumb text-white ">
                                            <li class="breadcrumb-item "><a href=" {% url 'myadmin2' %} ">Dashboard</a></li>
                                            <li class="breadcrumb-item "><a href=" {% url 'product_details' %} ">Products</a></li>

                                            <li class="breadcrumb-item ">Add Product</li>
                                        </ol>
                                    
                                        <i class="icon-pen text-white s-6 m-4"></i>
                                        <span class="h4 ">Add Product</span>
                                    </div>
                                   
                                </div>

                                
                                    
                                    
                            </div>
                           
                           
                            
                            <!-- / HEADER -->

                            <div class="page-content-card">
                                <!-- CONTENT TOOLBAR -->
                              
                                
                                <!-- / CONTENT TOOLBAR -->

                                <div class="justify-content-center page-content p-6 custom-scrollbar ps ps--theme_default ps--active-y " data-ps-id="754967e9-d391-bdbc-62b3-3347697d58bf">
                                    <!-- DEMO CONTENT -->
                                    <div class="demo-content ">
                                    <div class="container card ">
               
                                        <div class="text-center">
                                            <h3>Add New Product</h3>
                                        </div>
                                        <form action="" method="POST" name="myform" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </form>
                
                                   
                                 </div>
            
               
                                    <!-- / DEMO CONTENT -->
                                <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: -599.2px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 599.2px; height: 532px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 239px; height: 212px;"></div></div></div>

                            </div>
                        </div>
                        <!-- / CONTENT -->
                    </div>

                <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
            </div>
           
            
           
         
            
    </main>

    <script>
        document.getElementById("category_name").onkeyup = function(){
            document.getElementById("slug").value =   document.getElementById("category_name").value.toLowerCase().replace(" ","-");
        }

        
    </script>
</body>

    
{% endblock content %}















{% comment %} {% extends 'myadmin2/baseAdmin2/base.html' %}
{% block content %}

<div class="container">
    <h1>add Product</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit"  class="btn btn-primary">
    </form>
</div>

{% endblock  %} {% endcomment %}