{% extends 'myadmin2/baseAdmin2/base.html' %}
{% block title %}
category
{% endblock title %}

{% block content %}

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main >

        {% include 'myadmin2/baseAdmin2/basenav.html' %}
        <div id="wrapper">
            {% include 'myadmin2/baseAdmin2/sidebar.html' %}
            <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--theme_default" data-ps-id="6fd3f513-d51a-85e3-8de6-7204fb17b537">

                    <div class="page-layout carded full-width">

                        <div class="top-bg bg-secondary text-auto"></div>
                        <!-- CONTENT -->
                        <div class="page-content-wrapper">
                            

                            <!-- HEADER -->
                            <div class="page-header py-6 text-light ">
                                <div class="row">
                                    <div class="col-11">
                                        <ol class="breadcrumb text-white ">
                                            <li class="breadcrumb-item "><a href="#">Dashboard</a></li>
                                            <li class="breadcrumb-item ">Category</li>
                                        </ol>
                                    
                                        <i class="icon-cart-outline text-white s-6 m-4"></i>
                                        <span class="h4 "> Category Management</span>
                                    </div>
                                    <div class="col-1">
                                        <a href=" {% url 'category_create' %} ">
                                            <button type="button" class="btn btn-dark btn-fab ">
                                                <i class="icon-plus"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>

                                
                                    
                                    
                            </div>
                           
                           
                            
                            <!-- / HEADER -->

                            <div class="page-content-card">
                                <!-- CONTENT TOOLBAR -->
                                <div class="toolbar p-6">Category List</div>
                                
                                <!-- / CONTENT TOOLBAR -->

                                <div class="page-content p-6 custom-scrollbar ps ps--theme_default ps--active-y" data-ps-id="754967e9-d391-bdbc-62b3-3347697d58bf">
                                    <!-- DEMO CONTENT -->
                                    <div class="demo-content">
                                        

                                        
                                        
                                        <div class="container ">
                                            <div class="row">
                                                {% for category in category_list %}
                                                <div class="card" style="width: 30rem; ">
                                                   
                                                        <img class="card-img-top" src="/media/{{category.category_image}}" alt="img"/>
                                                  
                                                   
                                                    <div class="card-block">
                                                        <h4 class="card-title">{{category.category_name}}</h4>
                                                        <p class="card-text">{{category.description}}</p>
                                                        
                                                      <!-- Default switch -->
                                                      <div class="row">
                                                        <div class="col-6">
                                                           
                                                            <a href=" {% url 'category_delete' category.id %} " type="button" class="btn btn-icon" aria-label="Product details">
                                                                <i class="icon-delete-forever"></i>
                                                            </a>
                                                          </div>
                                                         
                                                          <div class="col-6">
                                                            
                                                            
                                                            <a href=" {% url 'category_update' category.id  %} " class="btn btn-primary" style="float: right;">edit</a>
                                                            
                                                          </div>
                                                          
                                                          
        
                                                      </div>
                                                      
                                                       
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            
                                            </div>
                                          
                                   
            

                                            
                                       
                                    <!-- / DEMO CONTENT -->
                                <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: -599.2px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 599.2px; height: 532px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 239px; height: 212px;"></div></div></div>

                            </div>
                        </div>
                        <!-- / CONTENT -->
                    </div>

                <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
            </div>
           
    </main>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</body>

    
{% endblock content %}
