{% extends 'myadmin2/baseAdmin2/base.html' %} 
{% load static %} 
{% block content %}
<style>
  .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
</style>
<body
  class="layout layout-vertical layout-left-navigation layout-above-toolbar"
>
  <main>
    {% include 'myadmin2/baseAdmin2/basenav.html' %}
    <div id="wrapper">
      {% include 'myadmin2/baseAdmin2/sidebar.html' %}
      <div class="content-wrapper">
        <div class="content custom-scrollbar">
          <div id="e-commerce-products" class="page-layout carded full-width">
            <div class="top-bg bg-secondary"></div>

            <!-- CONTENT -->
            <div class="page-content-wrapper">
              <!-- HEADER -->
              <div
                class="page-header light-fg row no-gutters align-items-center justify-content-between"
              >
                <!-- APP TITLE -->
                <div class="col-12 col-sm">
                  <div
                    class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start"
                  >
                    <div class="logo-icon mr-3 mt-1">
                      <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                      <div class="h4">Users</div>
                      <div class="">Total users: {{user_count}}</div>
                    </div>
                  </div>
                </div>
                <!-- / APP TITLE -->

                <!-- SEARCH -->
                <div class="col search-wrapper px-2">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-icon">
                        <i class="icon icon-magnify"></i>
                      </button>
                    </span>
                    <input
                      id="myInput-search"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      aria-label="Search"
                    />
                  </div>
                </div>
                <!-- / SEARCH -->
              </div>
              <!-- / HEADER -->

              <div class="page-content-card">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table
                    class="dataTable table table-bordered table-striped mb-0"
                  >
                    <thead>
                      <tr>
                        <th>
                          <div class="table-header">
                            <span class="column-title">ID</span>
                          </div>
                        </th>

                        <th>
                          <div class="table-header">
                            <span class="column-title">Username</span>
                          </div>
                        </th>

                        <th>
                          <div class="table-header">
                            <span class="column-title">Email id</span>
                          </div>
                        </th>

                        <th>
                          <div class="table-header">
                            <span class="column-title">Phone Number</span>
                          </div>
                        </th>
                        <th>
                          <div class="table-header">
                            <span class="column-title">Last Login</span>
                          </div>
                        </th>
                        <th>
                          <div class="table-header">
                            <span class="column-title">Is Active</span>
                          </div>
                        </th>
                        <th colspan="2" style="width: 8%; text-align: center">
                          <div class="table-header">
                            <span class="column-title">Action</span>
                          </div>
                        </th>
                      </tr>
                    </thead>

                    <tbody id="myTable">
                      {% for user in users %}
                      <tr>
                        <td class="text-primary">
                          <a href="#">{{user.id}} </a>
                        </td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>

                        <td>{{user.phone_number}}</td>
                        <td>{{user.last_login}}</td>
                        <td>{{user.is_active}}</td>
                        <td>
                          <form action=" {% url 'user_block' user.id %} " method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn ms-3 btn-warning text-white">
                              block
                            </button>
                          </form>
                        </td>
                        <td>
                          <form action="{% url 'user_delete' user.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn ms-3 btn-danger">
                              delete
                            </button>
                          </form>
                        </td>

                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- / CONTENT -->
          </div>

          <script
            type="text/javascript"
            src="{% static 'myadmin2/assets/js/apps/e-commerce/products/products.js' %}"
          ></script>
        </div>
      </div>
    </div>
  </main>
</body>

{% endblock content %}
