{% extends 'myadmin2/baseAdmin2/base.html' %}

{% block title %}
User
{% endblock title %}
{% block content %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main>

        {% include 'myadmin2/baseAdmin2/basenav.html' %}
        <div id="wrapper">
            <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <div class="aside-content-wrapper">

                    <div class="aside-content bg-primary-700 text-auto">

                        <div class="aside-toolbar">

                            <div class="logo">
                                <span class="logo-icon">F</span>
                                <span class="logo-text">FUSE</span>
                            </div>

                            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                                <i class="icon icon-backburger"></i>
                            </button>

                        </div>

                        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

                            <li class="subheader">
                                <span>APPS</span>
                            </li>

                            <li class="nav-item" role="tab" id="heading-dashboards">

                                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-dashboards" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

                                    <i class="icon s-4 icon-tile-four"></i>

                                    <span>Dashboards</span>
                                </a>
                                <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href=" {% url 'myadmin2' %} " data-url="">

                                            <span>Project Dashboard</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="apps-dashboards-server.html" data-url="apps-e-commerce-product.html">

                                            <span>Server</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-calendar.html" data-url="apps-e-commerce-product.html">

                                    <i class="icon s-4 icon-calendar-today"></i>

                                    <span>Calendar</span>
                                </a>
                            </li>

                            <li class="nav-item" role="tab" id="heading-ecommerce">

                                <a class="nav-link ripple with-arrow " data-toggle="collapse" data-target="#collapse-ecommerce" href="#" aria-expanded="true" aria-controls="collapse-ecommerce">

                                    <i class="icon s-4 icon-cart"></i>

                                    <span>Ecommerce</span>
                                </a>
                                <ul id="collapse-ecommerce" class='collapse show' role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href=" {% url 'product_details2' %} " data-url="apps-e-commerce-product.html">

                                            <span>Products</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link ripple active" href=" {% url 'userdata' %} " data-url="">

                                            <span>Users</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href=" {% url 'category_list' %} " data-url="apps-e-commerce-product.html">

                                            <span>Category</span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link ripple " href=" {% url 'home' %} " >
                                            
                                            <span>Shopping Website View</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-mail.html" data-url="apps-e-commerce-product.html">

                                    <i class="icon s-4 icon-email"></i>

                                    <span>Mail</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-chat.html" data-url="apps-e-commerce-product.html">

                                    <i class="icon s-4 icon-hangouts"></i>

                                    <span>Chat</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-file-manager.html" data-url="apps-e-commerce-product.html">

                                    <i class="icon s-4 icon-folder"></i>

                                    <span>File Manager</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-contacts.html" data-url="apps-e-commerce-product.html">

                                    <i class="icon s-4 icon-account-box"></i>

                                    <span>Contacts</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-todo.html" data-url="apps-e-commerce-product.html">

                                    <i class="icon s-4 icon-checkbox-marked"></i>

                                    <span>To-Do</span>
                                </a>
                            </li>

                            <li class="subheader">
                                <span>PAGES</span>
                            </li>

                            <li class="nav-item" role="tab" id="heading-authentication">

                                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-authentication" href="#" aria-expanded="false" aria-controls="collapse-authentication">

                                    <i class="icon s-4 icon-lock"></i>

                                    <span>Authentication</span>
                                </a>
                                <ul id="collapse-authentication" class='collapse ' role="tabpanel" aria-labelledby="heading-authentication" data-children=".nav-item">

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="pages-auth-forgot-password.html" data-url="apps-e-commerce-product.html">

                                            <span>Forgot Password</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="pages-auth-reset-password.html" data-url="apps-e-commerce-product.html">

                                            <span>Reset Password</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="pages-auth-lock-screen.html" data-url="apps-e-commerce-product.html">

                                            <span>Lock Screen</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="pages-coming-soon.html" data-url="apps-e-commerce-product.html">

                                    <i class="icon s-4 icon-alarm-check"></i>

                                    <span>Coming Soon</span>
                                </a>
                            </li>

                            <li class="nav-item" role="tab" id="heading-errors">

                                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-errors" href="#" aria-expanded="false" aria-controls="collapse-errors">

                                    <i class="icon s-4 icon-alert"></i>

                                    <span>Errors</span>
                                </a>
                                <ul id="collapse-errors" class='collapse ' role="tabpanel" aria-labelledby="heading-errors" data-children=".nav-item">

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="pages-errors-404.html" data-url="apps-e-commerce-product.html">

                                            <span>404</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="pages-errors-500.html" data-url="apps-e-commerce-product.html">

                                            <span>500</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="pages-maintenance.html" data-url="apps-e-commerce-product.html">

                                    <i class="icon s-4 icon-oil"></i>

                                    <span>Maintenance</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </aside>
            <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--theme_default" data-ps-id="b90777e1-6692-e7d8-00c7-adf897452841">

                    <div class="page-layout carded full-width">

                        <div class="top-bg bg-secondary text-auto"></div>

                        <!-- CONTENT -->
                        <div class="page-content-wrapper">

                            <!-- HEADER -->
                            
                            <div class="page-header py-6 text-light">
                                <ol class="breadcrumb text-white">
                                    <li class="breadcrumb-item "><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item ">User</li>
                                </ol>
                            
                                    <i class="icon-account text-white s-6 m-4"></i>
                                    <span class="h4 "> User Management</span>
                               
                            </div>
                            <!-- / HEADER -->

                            <div class="page-content-card">
                                <!-- CONTENT TOOLBAR -->
                                <div class="toolbar p-6 ">users list</div>
                                <!-- / CONTENT TOOLBAR -->

                                <div class="page-content p-6 custom-scrollbar ps ps--theme_default ps--active-y" data-ps-id="c21704b2-7c22-40fa-d6eb-25187a0ac7f3">
                                    <!-- DEMO CONTENT -->
                                    <div class="container-fluid">
                                        
                                            
                                            <table class="table  ">
                                                <thead class="table-dark">
                                                    <td>username</td>
                                                    <td>Email ID</td>
                                                    <td>Phone Number</td>
                                                    <td>Joined Date</td>
                                                    <td>Is Active</td>
                                                
                                                </thead>
                                                <tbody>
                                                    
                                                    
                                                    {% for user in users %}
                                                    <tr>
                                                        <td>{{user.username}}</td>
                                                        <td>{{user.email}}</td>
                                                        <td>{{user.phone_number}}</td>
                                                        <td>{{user.date_joined}}</td>
                                                        <td>{{user.is_active}}</td>
                                                        
                                                        <td>
                                                            
                                                        <form action="#" method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn ms-3 btn-warning">
                                                                block
                                                            </button>
                                                        </td>
                                    
                                    
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                            

                                        

                                        

                                        

                                       
                                    <!-- / DEMO CONTENT -->
                                <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: -611.2px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 611.2px; height: 482px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 220px; height: 173px;"></div></div></div>

                            </div>
                        </div>
                        <!-- / CONTENT -->
                    </div>

                <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
            </div>
            
           
            
        </main>
    </body>
</div>
    
{% endblock content %}
