{% extends 'myadmin2/baseAdmin2/base.html' %}

{% block title %}
User
{% endblock title %}
{% block content %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main>

        {% include 'myadmin2/baseAdmin2/basenav.html' %}
        <div id="wrapper">
           {% include 'myadmin2/baseAdmin2/sidebar.html' %}
            <div class="content-wrapper">
            <div class="content custom-scrollbar">

                <div id="e-commerce-products" class="page-layout carded full-width">

                    <div class="top-bg bg-secondary"></div>

                    <!-- CONTENT -->
                    <div class="page-content-wrapper">

                        <!-- HEADER -->
                        <div class="page-header light-fg row no-gutters align-items-center justify-content-between">

                            <!-- APP TITLE -->
                            <div class="col-12 col-sm">

                                <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                                    <div class="logo-icon mr-3 mt-1">
                                        <i class="icon-cube-outline s-6"></i>
                                    </div>
                                    <div class="logo-text">
                                        <div class="h4">Users</div>
                                        {% comment %} <div class="">Total orders: {{order_count}}</div> {% endcomment %}
                                    </div>
                                </div>

                            </div>
                            <!-- / APP TITLE -->

                            <!-- SEARCH -->
                            <div class="col search-wrapper px-2">

                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-icon">
                                            <i class="icon icon-magnify"></i>
                                        </button>
                                    </span>
                                    <input id="myInput-search" type="text" class="form-control" placeholder="Search" aria-label="Search" />
                                </div>

                            </div>
                            <!-- / SEARCH -->

                        </div>
            

                            

                                    <!-- DEMO CONTENT -->
                                    <div class="page-content-card">
                                        
                                        <div class="table-wrapper-scroll-y  my-custom-scrollbar">   
                                            <table class="dataTable table table-bordered table-striped mb-0"  >
                                                <thead class="table-dark">
                                                    <td>username</td>
                                                    <td>Email ID</td>
                                                    <td>Phone Number</td>
                                                    <td>Joined Date</td>
                                                    <td>Is Active</td>
                                                
                                                </thead>
                                                <tbody id="myTable">
                                                    
                                                    
                                                    {% for user in users %}
                                                    <tr>
                                                        <td>{{user.username}}</td>
                                                        <td>{{user.email}}</td>
                                                        <td>{{user.phone_number}}</td>
                                                        <td>{{user.date_joined}}</td>
                                                        <td>{{user.is_active}}</td>
                                                        
                                                        <td>
                                                            
                                                        <form action="#" method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn ms-3 btn-warning">
                                                                block
                                                            </button>
                                                        </td>
                                    
                                    
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- / CONTENT -->
                            </div>
                                            

                                        

                                        

                                        

                                       
                                    <!-- / DEMO CONTENT -->

                            </div>
                        </div>
                        <!-- / CONTENT -->
                    </div>
                </div>

               
            </div>
        </div>
            
           
            
    </main>
</body>


    
{% endblock content %}
