{% extends 'base/basehome.html' %}
{% block title %}
payment 
{% endblock title %}
{% block content %}
{% include 'includes/navbar555.html' %}
{% include 'includes/side.html' %}




    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="">Billing Details</h5>   
                    </div>
                    <div class="card-body">
                        <p class="card-text text-dark">name: {{order.full_name}}</p>   
                        <p class="card-text text-dark">order id: {{order.order_number}}</p>
                        <p class="card-text text-dark">Address: {{order.address_line_1}}</p>
                        {% if order.order_note %}
                        <b>Order Note: </b> {{order.order_note}}
                        {% endif %}

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="">Payment Method</h5>   
                    </div>
                    <div class="card-body">

                        {% comment %} <input class="form-check-input active" type="checkbox" value="" id="flexCheckDefault" >  {% endcomment %}
                      <p class="card-text ">Cash on delivery, paypal available</p>

                    </div>
                </div>
                {% comment %} <div class="card">
                    <div class="card-header">
                        <h5 class="">Review Products</h5>   
                    </div>
                    <div class="card-body">   
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div> {% endcomment %}
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                      Payment
                    </div>
                    <div class="card-body">
                        <div>
                            <b>Total:</b>
                            <span>
                                ${{total_price}}
                            </span>
                           </div>
                        <div>
                        <div>
                            <b>Tax:</b>
                            <span>
                                ${{tax}}
                            </span>
                        </div>
                        <div>
                            <b>Delivery Charge:</b>
                            <span>
                                ${{delivery_charge}}
                            </span>
                        </div>
                        <div>
                            <div>
                            <b>Tax:</b>
                            <span>
                                ${{tax}}
                            </span>
                        </div>

                        <b>Grand Total:</b>
                        <span>
                            ${{grand_total}}
                        </span>
                       </div>
                      
                    
                     
                        
                    </div>
          

                    <a href=" {% url 'cash_on_delivery' %}"  class="btn btn-dark shadow mt-2 w-100" >Cash On Delivery</a>
                    <div class="mt-4" id="paypal-button-container"></div>

                    {% comment %} <button id="rzp-button1" class="btn btn-info w-100 mt-2">Pay with Paypal</button>
                    <div id="paypal-button-container" class="mt-3"></div> {% endcomment %}
                  </div>

            </div>
        </div>
    </div>

<script src="https://www.paypal.com/sdk/js?client-id=AaCRvVkZN6410y-xZUQhMZWwvcEzplm7uPy3SAUsoloAlpIMl6jE17yppqeQhKfTE4cZqH3Mvktg80EC&currency=USD"></script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    var orderID = '{{order.order_number}}'
    var payment_method = 'paypal'
    var amount = '{{grand_total}}'
    var url = '{% url 'paypal' %}'
    var redirect_url = '{% url 'order_complete' %}'

    paypal.Buttons({
      // Sets up the transaction when a payment button is clicked
      createOrder: (data, actions) => {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: amount, // Can also reference a variable or function
            }
          }]
        });
      },
      // Finalize the transaction after payer approval
      onApprove: (data, actions) => {
        return actions.order.capture().then(function(orderData) {
          // Successful capture! For dev/demo purposes:
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          const transaction = orderData.purchase_units[0].payments.captures[0];
          alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
          console.log(orderData)
          sendData();
          function sendData(){
            fetch(url,{
                method:"POST",
                headers:{
                    "content-type":"application/json",
                    "X-CSRFToken":csrftoken,
                    
                },
                body: JSON.stringify({
                    orderID:orderID,
                    transID: orderData.id,
                    payment_method: payment_method,
                    status: orderData.status,
                }),

            })
            .then(response => response.json())
            .then(data => {
                console.log('success:', data);
                console.log('Transaction completed');
                window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID ;
            });


          }
          // When ready to go live, remove the alert and show a success message within this page. For example:
          // const element = document.getElementById('paypal-button-container');
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
        });
      }
    }).render('#paypal-button-container');
  </script>


{% endblock %}