{% extends 'base/basehome.html' %}
{% load static %}
{% block title %}
order completed
{% endblock title %}
{% block content %}

<div class="container">
    
    {% include 'includes/navbar555.html' %}
{% include 'includes/side.html' %}

    
    <div class="card text-center border-0 shadow bg-dark text-white p-3">
        
        <div class="card-body">
          
          <p class="card-text">Your order is placed successfully</p>
          <p class="card-text">Your tracking no: {{order.tracking_no}}</p>
          


          <a href="{% url 'home' %}" class="btn btn-success">Continue Shopping</a>
        </div>
        
      </div>
    
    
</div>
{% endblock content %}